<a href="https://colab.research.google.com/github/mythilybona/Day-1-assignment-/blob/main/Day_2_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1.Difference between the list and tuple?

In [ ]:
Tuple=(1,2,3)
List=[1,2,3]
# modify the list data
List[2]=4

Tuple is  immutable and it cannot change its value.
List is mutable it can be modified.

## 2.How list is different from an array

In [ ]:
List = [1,2,3,'hello',True]
List.append(4)
print(List)
from array import array
my_array=array('i',[1,2,3,4])
my_array.append(5)
print(my_array)

[1, 2, 3, 'hello', True, 4]
array('i', [1, 2, 3, 4, 5])

## 3. Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
#list append
List=[]
List.append(10)
List.append(30)
List.append(50)
print(List)
#list copy
List1=[4,5,6]
List2=List1.copy()
List1[0]=10
print("List1:",List1)
print("List2:",List2)
#list clear
List=[1,2,3,4]
List.clear()
print(List)
#List count
List=[1,2,3,4,5,6,6,6,6]
Value=List.count(6)
print(Value)
#list extend
List1=[0,1,2]
List2=[3,4,5]
List1.extend(List2)
print(List1)
#list insert
List=[1,2,3,4,5]
List.insert(2,10)
print(List)
#list pop
List=[1,2,3,4,5,6]
Popped_value=List.pop()
print(Popped_value)
#list reverse
List=[1,2,3,4,5]
List.reverse()
print(List)
#list sort
List=[1,5,2,4,6,3]
List.sort()
print(List)
#list min
List=[1,5,2,4,6,3]
Min_value=min(List)
print(Value)
#list max
List=[5,2,8,1,3]
max_value=max(List)
print(max_value)
#list sum
List=[1,5,2,4,6,3]
sum_value=sum(List)
print(sum_value)

[10, 30, 50]
List1: [10, 5, 6]
List2: [4, 5, 6]
[]
4
[0, 1, 2, 3, 4, 5]
[1, 2, 10, 3, 4, 5]
6
[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
4
8
21

## 4, How would you divide the list into two parts?

In [ ]:
List=[1,2,3,4,5,6,7,8,9,10]
First_part=List[:len(List)//2]
Second_part=List[len(List)//2:]
print("First_part:",First_part)
print("Second_part:",Second_part)

First_part: [1, 2, 3, 4, 5]
Second_part: [6, 7, 8, 9, 10]

## 5. how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.
Eg A = [1,2,3,4,5,6,7,8,9,21,23,24]
Filter_lsit = [3,6,9,21,24]
output_list = [6,24]

In [ ]:
original_list = [1,2,3,4,5,6,7,8,9,10]
multiple_of_3=[num for num in original_list if num % 3==0]
filtered_list = [num for num in multiple_of_3 if num % 2==0]
print(filtered_list)

[6]

## 6. How you can access keys and values simultaneously and update its value

## 7. Write python program to join, merge, concatente the two dictionaries..

In [ ]:
dict1= {'a':1,'b':2}
dict2= {'c':3,'d':4}
Merge= {**dict1,**dict2}
print("Merge:",Merge)
Concatenated= dict1 | dict2
print("Concatenated dictionary:", Concatenated)

Merge: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Concatenated dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

## 8. How would you check a specific keys from the dictionary??

In [ ]:
Dict = {'apple':3,'banana':5,'cherry':2}
Target_key = 'banana'
if Target_key in Dict:
    print(f"the key'{Target_key}' exists in the dictionary.")
else:
    print(f"the key'{Target_key}' doesn't exists in the dictionary.")

the key'banana' exists in the dictionary.

## 9. write a python program to find the unique vowel present in the sentence

In [ ]:
def find_unique_vowels(sentence):
    Vowels = "aeiouAEIOU"
    Unique_vowels = set()

    for char in sentence:
        if char in vowels:
           unique_vowels.add(char)
    return unique_vowels

## 10. We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
my_tuple = (1,2,3)
new_elements = (4,5)
new_tuple = my_tuple + new_elements
print("original tuple:",my_tuple)
print("new tuple after adding elements:",new_tuple)

original tuple: (1, 2, 3)
new tuple after adding elements: (1, 2, 3, 4, 5)

## 11. How would you sum the list of tuple and sum of tuple of list
list  = [(2,3),(4,5),(6,4)]
output= [5,9,10]

tuple  =([2,3],[4,5],[6,4])
output  =  (5,9,10)

In [ ]:
#sum of list of tuples
list_of_tuples = [(1,2),(3,4),(5,6)]
sum_of_tuples = sum([sum(t) for t in list_of_tuples])
print(sum_of_tuples)

#sum of tuples in lists
list_of_lists = [[1,2],[3,4],[5,6]]
sum_of_tuples = tuple(map(sum,zip(*list_of_lists)))
print(sum_of_tuples)

21
(9, 12)

## 12. FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY